
p{
	color:teal;
	text-align: center;
	font-size: 23px;
}

body{
	background-image: url("https://cdn-images-1.medium.com/max/1600/1*xZrSvUrS-6zQQBfevGed2w.gif");
}

img{
  width:700px;
  length:700px;
  border-image:center;
}

h1{
     color:teal;   
}

a{
  color:teal;
  font-family: 'times new roman', serif;
  font-size: 25px;
}

#grandma{
    color:red;
    text-align: center;
}