p{
	color:pink;
	text-align: center;
	font-size: 23px;
}

body{
	background-image: url("https://media.giphy.com/media/d9QiBcfzg64Io/giphy.gif");
}

img{
  width:700px;
  length:700px;
  border-image:center;
}

h1{
     color:pink;   
}

a{
  color:pink;
  font-family: 'times new roman', serif;
  font-size: 25px;
}
